# terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# vscode
.vscode/

# macos
.DS_Store

# Vagrant
.vagrant

# n8n
n8n/n8n_data/nodes
n8n/n8n_data/git
n8n/n8n_data/ssh
n8n/n8n_data/config
n8n/n8n_data/binaryData
n8n/n8n_data/n8nEventLog*